xml/UD.04/TiendaDeRopa/TiendaDeRopa.dtd

<!ELEMENT tienda (articulo+)>
<!ELEMENT articulo (nombre, talla, precio)>
<!ATTLIST articulo
          codigo CDATA #REQUIRED
          categoria CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT talla (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST precio
          moneda CDATA #REQUIRED>