xml/UD.04/Cocina/cocina.dtd

<!ELEMENT recetario (receta+)>
<!ELEMENT receta (nombre, ingredientes)>
<!ATTLIST receta
          dificultad CDATA #REQUIRED
          porciones CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>
<!ATTLIST ingrediente
          cantidad CDATA #REQUIRED>