xml/UD.04/Biblioteca/biblioteca.dtd

<!ELEMENT library (book+)>
<!ELEMENT book (title, author, publisher, year, genres+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT genres (genre+)>
<!ATTLIST book
    isbn CDATA #REQUIRED>